html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 10px;
  font-size: 20px;
  color: magenta;
}

.Counter {
  margin: 14px 0px;
  padding: 20px;
  border: 1px solid blue;

  button:last-of-type {
    margin-left: 14px;
  }
}
